<p>book-new works!</p>
<p style="color: red;">{{errMessage}}</p>
<table>
  <tr>
    <td>Book Id:</td>
    <td>
      <input type="text" class="form-control" name="BookId" id="BookId" placeholder="Enter Book Id" [(ngModel)]="book.BookId"/>
    </td>
  </tr>
  <tr>
    <td>Book Name:</td>
    <td>
      <input type="text" class="form-control" name="BookName" id="BookName" placeholder="Enter Book Name" [(ngModel)]="book.BookName"/>
    </td>
  </tr>
  <tr>
    <td>Price:</td>
    <td>
      <input type="number" class="form-control" name="BookPrice" id="BookPrice" placeholder="Enter Price" [(ngModel)]="book.Price"/>
    </td>
  </tr>
  <tr>
    <td>Image:</td>
    <td>
      <input type="file" (change)="onFileSelected($event)" #fileUpload name="image">
      <div *ngIf="fileName">File: {{fileName}}</div>
      <div *ngIf="uploadProgress > 0 && uploadProgress < 100" style="background: #e0e0e0; height: 20px; border-radius: 5px; overflow: hidden; margin-top: 5px;">
        <div style="background: #4CAF50; height: 100%; color: white; text-align: center; line-height: 20px;" [style.width.%]="uploadProgress">
          {{uploadProgress}}%
        </div>
      </div>
      <div *ngIf="book.Image">
        <img [src]="'/image/' + book.Image" width="100px" height="100px" style="margin-top: 10px;">
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <button (click)="postBook()">Submit</button>
    </td>
  </tr>
</table>
<table border="1">
  <tr>
    <td>BookId</td>
    <td>BookName</td>
    <td>Price</td>
    <td>Image</td>
  </tr>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.BookId}}</td>
      <td>{{book.BookName}}</td>
      <td>{{book.Price}}</td>
      <td>
        <img *ngIf="book.Image" [src]="'/image/' + book.Image" width="50px" height="50px" alt="Book Image">
        <span *ngIf="!book.Image">No Image</span>
      </td>
    </tr>
  </tbody>
</table>
